@font-face {
    font-family: 'bahn';
    src: url(./BAHNSCHRIFT.TTF);
}

:root {
    --light-grey: #595858;
    --text-color: #ccc;
}

html {
    font-size: 100%;
    font-family: 'bahn', 'arial', 'san-serif';
}

body {
    margin: 0.6rem;
    color: #fff;
    background-color: hsl(0, 1%, 16%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

input::placeholder {
    color: var(--text-color);
}

.plus-sign {
    font-size: 2rem;
    color: var(--text-color);
    width: fit-content;
    padding: 0.1rem 0.6rem;
    cursor: pointer;
}

.plus-sign:hover {
    background-color: var(--light-grey);
}

h1 {
    margin: 0 0 0.6rem 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
}

.search-container:focus-within input::placeholder{
    color: #a2a0a0;
}

input {
    outline: none;
    border: 0;
    padding: 0.6rem 0  0.6rem 0.6rem;
    background-color: transparent;
    color: var(--text-color);
    width: 100%;
}

label {
    border:0;
    padding-right: 0.6rem;
}

.search-icon {
    margin-top: 0.2rem;
    transform: rotate(90deg);
    fill: var(--text-color);
}

.text-preview-context {
    position: fixed;
    inset: 10% 15%;
    display: block;
    background-color: var(--light-grey);
}

#data-list {
    border: 2px solid orange;
}

[class="text-preview-context"] {
    transform: scale(0.6);
    transition: transform .4s, opacity .1s;
    opacity: 0;
    pointer-events: none;
}

[class="text-preview-context"] > textarea {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    background-color: var(--light-grey);
    color: #fff;
    caret-color: limegreen;
    padding: 0.6em;
    font-family:  'Arial', 'san-serif';
    letter-spacing: 0.1em;
}

[class="text-preview-context"] > textarea::placeholder {
    color: var(--text-color);
    font-family: 'bahn';
}


[plus] [class="text-preview-context"] {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

#save-btn {
    all: unset;
    background-color: limegreen;
    padding: 0.4em;
    border-radius: 0.2em;
    position: absolute;
    bottom: 0.6em;
    right: 0.6em;
    cursor: pointer;
}

#save-btn:active {
    background-color: hsla(120, 61%, 50%, 0.859);
    cursor: progress;
}

[plus] .outer-shell {
    outline: 5px solid limegreen;
    position: fixed;
    inset: 0;
}

.data-text {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

[id="list-item-container"] {
    padding: 0.6em;
    background-color: var(--light-grey);
    cursor: pointer;
}

.list-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-family: 'arial';
    user-select: none;
}